<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<mat-toolbar style="height:120px">
  <span style="font-size: 2vw; margin-right: 20px; color: rgb(58, 58, 58);">LH Sistemas de Irrigação</span>
  
  <img width="100vw" src='../assets/images/logo.png '>
  <span class="example-spacer"></span>
  <a   href="#grid1" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    início
  </a>
  
  <a href="#contato" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Contato
  </a>

  <a  href="#sobre" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Sobre
  </a>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="600px" id="grid1">
  <mat-grid-tile class="firstgrid" cols=2>
    <div style=" position: absolute; top: 42vh; width:100vw; text-align: center; font-size: 3.0vw; color: rgb(240, 240, 240);" ><strong >Projetos de Irrigação para Jardins e plantações</strong></div>
    <a href="#grid1" class="cta1" style="margin-right: 20px;">PORTFÓLIO</a>
    <a href="#orcamento" class="cta2" style="margin-left:20px;">ORÇAMENTO</a>
  </mat-grid-tile>
</mat-grid-list>



<mat-grid-list id="sobre" cols="2" rowHeight="600px" style="vertical-align: top;">
  <h1 style="text-align: center; margin-top: 30px;"><strong><u>SOBRE A LH IRRIGAÇÕES</u></strong></h1>
  <mat-grid-tile  style="margin-left: 40px; text-justify:inter-word; text-align: justify; vertical-align: top;"> <div style="width: 80%;"> At vero eos et accusamus et 
    iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
     excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum
      et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
       optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
         et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
          alias consequatur aut perferendis doloribus asperiores repellat."</div>
  
          
  </mat-grid-tile>

  <mat-grid-tile><img  style="border-radius: 10px; width: 20vw; height: 20vw ;" src="../assets/images/irr.jpg">
     
  
  </mat-grid-tile>
 
  
  
</mat-grid-list>
<div style="margin-left: 110px;">
  <a href="#grid1"  style="font-size: 100%;" class="cta3" >BAIXAR PORTFÓLIO</a>
  <a style="margin-left: 10px; font-size: 100%;" href="#orcamento" class="cta2" >QUERO UM PROJETO</a>
</div>



<mat-grid-list cols="2" rowHeight="600px" style="vertical-align: top; background-color: rgb(235, 235, 235);">
  <h1 style="text-align: center; margin-top: 100px; padding-top: 20px;"><strong><u>CASES & CLIENTES</u></strong></h1>
  <mat-grid-tile  style="margin-left: 40px; text-justify:inter-word; text-align: justify; vertical-align: top;"> <div style="width: 80%;"> 
    <h1>Atlético Sorocaba</h1>
    At vero eos et accusamus et 
    iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
     excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum
      et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
       optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
         et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
          alias consequatur aut perferendis doloribus asperiores repellat."</div>
  
          
  </mat-grid-tile>

  <mat-grid-tile><img  style="border-radius: 10px; width: 80%; height: 20vw ;" src="../assets/images/atl.jpg">
     
  
  </mat-grid-tile>
 
  
  
</mat-grid-list>


<mat-grid-list id="contato" cols="2" rowHeight="600px" >
  

  <mat-grid-tile style="text-align: center;" ><div style="padding-top: 8px; padding-left: 8px; background-color: rgba(255, 255, 255, 0.753); margin-left: 22vw; text-align: center; box-shadow: 1 7 8 8; border-radius: 7px;">
    <h1 style="text-align:left;  font-size: 4vh;" >Preencha o formulário ao lado que entraremos em contato</h1></div>
 </mat-grid-tile>
  
  <mat-grid-tile>
    <form  action="https://formspree.io/f/mvovedlv" method="POST">
      <label style="color: white;" for="fname">Nome</label><br>
      <input type="text" id="nome" name="nome" ><br>

      <label style="color: white;" for="telefone">Telefone</label><br>
      <input type="text" id="telefone" name="telefone" ><br>

      <label  style="color: white;" for="lname">Email</label><br>
      <input type="email" id="email" name="email" ><br>
      
      <label style="color: white;" for="texto">Como podemos ajudar?</label><br>
      <textarea style="width: 272px; height: 200px;" id="texto" name="texto"> </textarea><br>
      <br>
    
      <!-- your other form fields go here -->
    
      <button id="submit" type="submit">Send</button> 
    </form>
    
  </mat-grid-tile>
  
  
</mat-grid-list>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>

