<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--NAV BAR-->
<body >
<mat-toolbar style="height:120px; padding: 0;">
 
  
  <img style="width: calc(75px + 5vw);" src='../assets/images/logo.png ' alt="LH Logo">
  <span class="example-spacer"></span>
  <a   href="#grid1" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Início
  </a>
  
  <a href="#contato" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Contato
  </a>

  <a  style="margin-right: 20px;" href="#sobre" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Sobre
  </a>
</mat-toolbar>





<!--1ST GRID-->
<mat-grid-list  cols="1" rowHeight="600px" id="grid1">
  <mat-grid-tile class= "image1" cols=2 style="text-align: center;">
    <div><h1 style="font-size:calc(20px + 1.5vw); margin-bottom: 100px;">Irrigação para Jardins, Agricultura e Despoeiramento</h1>
    
 
    <a href="#grid1" class="cta1" style="margin-right: 20px;">PORTFÓLIO</a>
    <a href="#contato" class="cta2" style="margin-left:20px;">ORÇAMENTO</a>
  </div>
  </mat-grid-tile>
</mat-grid-list>




<!--2nd GRID-->
<mat-grid-list id="sobre" cols="1" rowHeight="600px" style="vertical-align: top;">
  <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;">

   <div style="margin-left: 10%; margin-right: 10%;">
    <h1 style=" color: rgb(48, 48, 48); font-size:calc(20px + 1.0vw); margin-bottom: 50px; text-align: center;">Quem Somos</h1>  
    A LH Sistemas de Irrigação é uma empresa dedicada a projetos, instalações e manutenção de sistemas de irrigação.
Na irrigação residencial estamos preparados para implantar sistema de aproveitamento de água de chuva integrado com o sistema de irrigação.
Na irrigação comercial somos capacitados a estudar o melhor custo-benefício na implantação de irrigação por pivô central, carretel, aspersão de baixo volume e gotejamento.

          <div style="margin-top: 40px; text-align: center;">
            <a href="#grid1"  style="font-size: 100%;font-size: calc(6px + 20%)!important;" class="cta3" >BAIXAR PORTFÓLIO</a>
            <a style="margin-left: 10px; font-size: 100%; font-size:calc(6px + 20%)!important;" href="#contato" class="cta2" >QUERO UM PROJETO</a>
          </div>
        </div>   
        
  </mat-grid-tile>
  
 
  
  
</mat-grid-list>


<!--3rd GRID-->

<mat-grid-list  cols="1" rowHeight="fit" (window:resize)="onResize($event)" style="vertical-align: top; background-color: rgb(235, 235, 235); padding-top: 30px;">
  <h1 style=" color: rgb(48, 48, 48); font-size:calc(20px + 1.0vw); text-align: center; margin-bottom: o;">Cases & clientes</h1>  
  <div class="gallery js-flickity"
  data-flickity-options='{ "wrapAround": true }'>
  <!--FIRST CELL-->
   <div class="gallery-cell">
    <mat-grid-list class="myGridList" [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)" >
      <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;"> <div style="width: 80%;"> 
        <h2 style="text-align: center;" >Atlético Sorocaba</h2>
        <p class="pgllery">Executamos a revisão geral do sistema de irrigação do campo 1 devolvendo ao sistema a condição operacional automatizada. O Atlético Sorocaba é uma equipe de futebol profissional
            que precisa manter sempre boas condições de gramado para o jogo. para isso foram necessários a utilização de x dispersores e y controladores via wi-fi para garantir que os temporiza
            dores estivessem sempre funcionando. Com isso, há economia real nos custos de manutenção do campo, aumentando a longevidade do gramado e otimizando o consumo de água</p></div>
      </mat-grid-tile>
      <mat-grid-tile><div class="image2"><img  style="border-radius: 10px; width: calc(300px + 20vw); height: calc(150px + 10vw);" src="../assets/images/atl.jpg"></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
    <!--Sec CELL-->
  
    <div class="gallery-cell">
      <mat-grid-list class="myGridList" [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)" >
        <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;"> <div style="width: 80%;"> 
          <h2 style="text-align: center;" >Atlético Sorocaba</h2>
      
          <p class="pgallery">Executamos a revisão geral do sistema de irrigação do campo 1 devolvendo ao sistema a condição operacional automatizada. O Atlético Sorocaba é uma equipe de futebol profissional
        que precisa manter sempre boas condições de gramado para o jogo. para isso foram necessários a utilização de x dispersores e y controladores via wi-fi para garantir que os temporiza
      dores estivessem sempre funcionando. Com isso, há economia real nos custos de manutenção do campo, aumentando a longevidade do gramado e otimizando o consumo de água</p></div>
             
        </mat-grid-tile>
        <mat-grid-tile><div class="image2"> <img  style="border-radius: 10px; width: calc(300px + 15vw); height: calc(150px + 10vw);" src="../assets/images/atl.jpg"></div>
        </mat-grid-tile>
  
  
  
  </mat-grid-list>
  </div>
</div>
  
</mat-grid-list>



<!--CONTAT US-->
<mat-grid-list id="contato" cols="1" rowHeight="700px" >
  <mat-grid-tile class="row" style="text-align: center;">
    
    <form style="color: white;"  action="https://formspree.io/f/mvovedlv" method="POST">
      <h1  style="text-align: center; font-size:calc(20px + 1.5vw);">Entre em Contato!</h1>
      <label style="color: white;" for="fname">Nome</label><br>
      <input type="text" id="nome" name="nome" ><br>

      <label style="color: white;" for="telefone">Telefone</label><br>
      <input type="text" id="telefone" name="telefone" ><br>

      <label  style="color: white;" for="lname">Email</label><br>
      <input type="email" id="email" name="email" ><br>
      
      <label style="color: white;" for="texto">Como podemos ajudar?</label><br>
      <textarea style="min-width: 400px; width: 40vw; max-width: 40vw; max-height: 20px; min-height: 200px;" id="texto" name="texto"> </textarea><br>
      <br>
    
      <!-- your other form fields go here -->
    
      <button style="min-width: 400px; width: 40vw;" id="submit" type="submit">Enviar</button> 
    </form>
    
  </mat-grid-tile>
</mat-grid-list>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
</body>