<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--NAV BAR-->
<body >
<mat-toolbar style="height:120px; padding: 0;">
 
  
  <img style="width: calc(75px + 5vw);" src='../assets/images/logo.png ' alt="LH Logo">
  <span class="example-spacer"></span>
  <a   href="#grid1" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Início
  </a>
  
  <a href="#contato" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Contato
  </a>

  <a  style="margin-right: 20px;" href="#sobre" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Sobre
  </a>
</mat-toolbar>





<!--1ST GRID-->
<mat-grid-list  cols="1" rowHeight="600px" id="grid1">
  <mat-grid-tile class= "image1" cols=2 style="text-align: center;">
    <div><h1 style="font-size:calc(20px + 1.5vw); margin-bottom: 100px;">Irrigação para Jardins, Agricultura e Despoeiramento</h1>
    
 
    <a href="#grid1" class="cta1" style="margin-right: 20px;">PORTFÓLIO</a>
    <a href="#contato" class="cta2" style="margin-left:20px;">ORÇAMENTO</a>
  </div>
  </mat-grid-tile>
</mat-grid-list>




<!--2nd GRID-->
<mat-grid-list id="sobre" cols="1" rowHeight="600px" style="vertical-align: top;">
  <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;">

   <div style="margin-left: 10%; margin-right: 10%;">
    <h1 style=" color: rgb(48, 48, 48); font-size:calc(20px + 1.0vw); margin-bottom: 50px; text-align: center;">Quem Somos</h1>  
    


    
    A LH Sistemas de Irrigação é uma empresa localizada em Sorocaba-SP (interior de São Paulo) dedicada a projetos, instalações e manutenção de sistemas de irrigação.
    Somos representantes da marca RainBird, contando com tecnologias de ponta e com o IoT (internet das coisas) para controloar o seu sistema de irrigação remotamente.
    Com essa tecnologia em nosso portfólio, estamos aptos a atender irrigação de paisagismo, campos de futebol, golfe, quadras de tênis, agricultura com irrigação de
    baixo volume e despoeiramento de currrais e mineradoras.

    Temos como prioridade solucionar os problemas de nossos clientes sempre com base nas necessidades apresentadas, de forma personalizada com profissionalismo e dedicação,
    desenvolvendo o projeto com melhor custo-benefício para a realidade de cada cliente.


   



          <div style="margin-top: 40px; text-align: center;">
            <a href="#grid1"  style="font-size: 100%;font-size: calc(6px + 20%)!important;" class="cta3" >BAIXAR PORTFÓLIO</a>
            <a style="margin-left: 10px; font-size: 100%; font-size:calc(6px + 20%)!important;" href="#contato" class="cta2" >QUERO UM PROJETO</a>
          </div>
        </div>   
        
  </mat-grid-tile>
  
 
  
  
</mat-grid-list>


<!--3rd GRID-->

<mat-grid-list  cols="1" rowHeight="fit" (window:resize)="onResize($event)" style="vertical-align: top; background-color: rgb(235, 235, 235); padding-top: 30px;">
  <h1 style=" color: rgb(48, 48, 48); font-size:calc(20px + 1.0vw); text-align: center; margin-bottom: o;">Cases & clientes</h1>  
  <div class="gallery js-flickity"
  data-flickity-options='{ "wrapAround": true }'>
  <!--FIRST CELL-->
   <div class="gallery-cell">
    <mat-grid-list class="myGridList" [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)" >
      <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;"> <div style="width: 80%;"> 
        <h2 >Clube Atlético Sorocaba</h2>
        <h3>Revisão do sistema de irrigação do campo</h3>
        <p class="pgllery">Atlético Sorocaba é um centro de treinamento para equipes de futebol. Quando entraram em contato estavam com problemas de vazamento e tubulação,
          equipamentos danificados como a vávula do solenóide e os controladores, ocasionando surpresas indesejadas na hora de realizar a irrigação, causando danos ao gramado e 
          alto custo de manutenção corretiva.
          Na visita técnica pudemos analisar os problemas e definir planos de ação para resolvê-los, 
          aplicando um novo controlador, ralizando a troca de tubulação e substituindo a válvula solenóide. Com isso o clube mantém sempre ótimas condições para os atletas
          treinarem com custo reduzido para a manutenção do bom estado do gramado.

        </p></div>
      </mat-grid-tile>
      <mat-grid-tile><div class="image2"><img  style="border-radius: 10px; width: calc(300px + 20vw); height: calc(150px + 10vw);" src="../assets/images/atl.jpg"></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
    <!--Sec CELL-->
  
    <div class="gallery-cell">
      <mat-grid-list class="myGridList" [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)" >
        <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;"> <div style="width: 80%;"> 
          <h2>Residência Lago Azul</h2>
          <h3>Vazamento nos aspersores</h3>
          <p class="pgllery">O cliente entrou em contato constatando que os aspersores de um campo de futebol particular não estavam funcionando. Após a visita técnica consta
            tamos um gramado seco. Para resolevr o problema, foram implatados os apersores da RainBird, que por sua qualidade permitem o bom funcionamento do equipamento com 
            maior durabilidade.
  
          </p></div>
        </mat-grid-tile>
        <mat-grid-tile><div class="image2"> <img  style="border-radius: 10px; width: calc(300px + 15vw); height: calc(150px + 10vw);" src="../assets/images/LagoAzul.jpeg"></div>
        </mat-grid-tile>
  
  
  
  </mat-grid-list>
  </div>

  <!-- Third CELL-->
  <div class="gallery-cell">
    <mat-grid-list class="myGridList" [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)" >
      <mat-grid-tile  style=" text-justify:inter-word; text-align: justify;"> <div style="width: 80%;"> 
        <h2>Residência Condomínio X</h2>
        <h3>Vazamento nos aspersores</h3>
        <p class="pgllery">O cliente entrou em contato dizendo que seu sistema hidráulico apresentava falta de água para fazer seu sistema de irrigação funcionar, sendo necessário
    irrigar com trabalho braçal constantemente. Ao realizar a visita técnica, constatamos que o controlador estava queimado, mas além disso o sistema hdiráulico estava com ar 
          na tubulação, o que foi corrigido na hora. Para resolver o problema do controlador, foi feita a substituição por um da marca RainBird setorizado,
          possibilitando o acionamento em difrentes setores separadamente, automatizando a irrigação.

        </p></div>
      </mat-grid-tile>
      <mat-grid-tile><div class="image2"> <img  style="border-radius: 10px; width: calc(300px + 15vw); height: calc(150px + 10vw);" src="../assets/images/casaRoberto.jpeg"></div>
      </mat-grid-tile>



</mat-grid-list>
</div>
</div>
  
</mat-grid-list>


<!--4th GRID-->


<mat-grid-list  [cols]="breakpoint1" [rowHeight]="listHeight" (window:resize)="onResize($event)"  style="vertical-align: top; background-color: rgb(255, 255, 255); padding-top: 30px;">
  <h1 style=" color: rgb(48, 48, 48); font-size:calc(20px + 1.0vw); text-align: center; margin-bottom: 0;">Benefícios da Irrigação</h1>  
  <div class="listContainer" >

    <mat-grid-tile class="matGridPort" >
      <ul>
        <h2 class="listH2" >Residencial</h2>
        <h3>Diminuição com gasto de tempo e dinheiro</h3>
        <li>Ambientes mais agradáveis e humidificados</li>
        <li>Menos esforço para cuidar do seu jardim</li>
        <li>Redução do consumo de água</li>
      </ul>
    </mat-grid-tile>

    <mat-grid-tile class="matGridPort">  
      <ul>
        <h2 class="listH2">Rural</h2>
        <h3>Aumento da produtividade</h3>
        <li>Evita doenças como as respiratórias, do Gado</li>
        <li>Aumento na produtividade</li>
        <li>Colheita fora da época de safra</li>
      </ul>
    </mat-grid-tile>

    <mat-grid-tile class="matGridPort">
      <ul>
        <h2 class="listH2">Industrial</h2>
        <h3>Aumento da produtividade</h3>
        <li>Remove do ar residuos sólidos e partículas nocivas a saúde</li>
        <li>melhoria das condições de trabalho e da comunidade no entorno</li>
        <li>aumento da disponibilidade física dos colaboradores</li>
      </ul>
</mat-grid-tile>
</div>
  
</mat-grid-list>



<!--CONTAT US-->
<mat-grid-list id="contato" cols="1" rowHeight="700px" >
  <mat-grid-tile class="row" style="text-align: center;">
    
    <form style="color: white;"  action="https://formspree.io/f/mvovedlv" method="POST">
      <h1  style="text-align: center; font-size:calc(20px + 1.5vw);">Entre em Contato!</h1>
      <label style="color: white;" for="fname">Nome</label><br>
      <input type="text" id="nome" name="nome" ><br>

      <label style="color: white;" for="telefone">Telefone</label><br>
      <input type="text" id="telefone" name="telefone" ><br>

      <label  style="color: white;" for="lname">Email</label><br>
      <input type="email" id="email" name="email" ><br>
      
      <label style="color: white;" for="texto">Como podemos ajudar?</label><br>
      <textarea style="min-width: 400px; width: 40vw; max-width: 40vw; max-height: 20px; min-height: 200px;" id="texto" name="texto"> </textarea><br>
      <br>
    
      <!-- your other form fields go here -->
    
      <button style="min-width: 400px; width: 40vw;" id="submit" type="submit">Enviar</button> 
    </form>
    
  </mat-grid-tile>
</mat-grid-list>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
</body>